{% extends 'base.html' %}

{% block title %} Create your account {% endblock %}

{% block page_content %}
    <div class="form-container d-flex justify-content-center align-items-center">
        <form action="{% url 'account_create' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="pb-3">
                    <div class="pb-2 fs-6">
                        {{ field.label_tag }}
                    </div>
                    <div>
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" 
                    class="mt-3 btn btn-dark border border-dark">
                Create Account
            </button>
            {% if form.errors %}
                <div class="alert alert-danger mt-4 text-wrap" style="width: 13em">
                    {% for field, error in form.errors.items %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
