{% extends 'base.html' %}

{% block title %} Set up your names {% endblock %}

{% block page_content %}
    <h1 class="text-start h2 ms-5 mt-5">Finish setting up your account..</h1>
    <h2 class="text-center h3 my-5 pt-2">What's your name?</h2>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <form action="{% url 'names_setup' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="d-flex">
                {% for field in form %}
                    <div class="d-flex flex-column">
                        <div class="mx-5">
                            {{ field.label_tag }}
                        </div>
                        <div class="mx-4">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center mt-5">
                <button type="submit" class="btn btn-dark px-5 mt-3 me-3">Continue</button>
            </div>
            {% if form.errors %}
                <div class="alert alert-danger mt-4 text-wrap" style="width: 16em">
                    {{ form.errors }}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
