div.primary-container {
    display: flex;
    flex-direction: column;
}

div.form-container {
    min-height: 75vh;
}

nav a.sign-up:hover {
    background-color: rgb(66, 70, 73);
    border-color: rgb(66, 70, 73);
}

div.contacts-container {
    flex-wrap: wrap;
    gap: 4em;
    max-width: 80vw;
}

div.contact-buttons {
    min-width: 22em;
}

.contact-details-container {
    min-height: 45vh
}

.image-container {
    max-width: 55vw
}
