{% extends 'base.html' %}

{% block title %} Delete contact {% endblock %}

{% block page_content %}
    <h1 class="h2 text-center my-4">Are you sure you want to delete this contact?</h1>
    <div class="form-container d-flex justify-content-center align-items-center">
        <form action="{% url 'contact_delete' object.pk %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="my-4">
                <div class="pb-2 fs-5">
                    {{ field.label_tag }}
                </div>
                <div>
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-danger my-3 mb-4 px-4">Delete</button>
        </form>
    </div>
{% endblock %}
