{% extends 'base.html' %}

{% block title %} Search contact {% endblock %}]

{% block page_content %}
    <div class="form-container d-flex flex-column justify-content-center align-items-center">
        <h1 class="h3 mb-5 pb-3 text-center">
            Find any of your contacts by typing contact's name or email address
        </h1>
        <form action="{% url 'contact_search' %}" method="post" class="d-flex">
            {% csrf_token %}
            <div>
                {{ form.search }}
            </div>
            <div class="ms-3">
                <button type="submit" class="btn btn-dark"><i class="bi bi-search"></i></button>
            </div>
        </form>
        <div class="mt-5 d-flex">
            {% for contact in searched_contacts %}
                <div class="me-5">{% include 'partials/contact-info.html' %}</div>
            {% endfor %}
        </div>
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
