{% extends 'base.html' %}

{% block title %} Your contacts {% endblock %}

{% block page_content %}
    {% if not contacts %}
        <div class="form-container d-flex flex-column justify-content-center align-items-center">
            <h1 class="h2 text-center">You have no contacts at the moment</h1>
            <h2 class="h3 text-center mt-1">
                <a class="text-decoration-none" href="{% url 'contact_create' %}">Add some</a>
            </h2>
        </div>

    {% else %}
        <div class="d-flex flex-wrap px-5 pt-4">
            <p class="me-4">Show only:</p>
            <ul class="list-unstyled d-flex flex-row">
                <li class="me-5">
                    <a class="text-decoration-none" href="{% url 'family_contacts' 'family' %}">Family</a>
                </li>
                <li class="me-5">
                    <a class="text-decoration-none" href="{% url 'friends_contacts' 'friends' %}">Friends</a>
                </li>
                <li class="me-5">
                    <a class="text-decoration-none" href="{% url 'work_contacts' 'work' %}">Work</a>
                </li>
                <li class="me-5">
                    <a class="text-decoration-none" href="{% url 'other_contacts' 'other' %}">Other</a>
                </li>
            </ul>
        </div>
    {% endif %}

    <div class="p-5">
        {% if family_contacts %}
            <h2 class="mb-4">Family</h2>
            <div class="contacts-container d-flex mb-5">
                {% for contact in family_contacts %}
                    {% include 'partials/contact-info.html' %}
                {% endfor %}
            </div>
        {% endif %}

        {% if friends_contacts %}
            <h2 class="mb-4">Friends</h2>
            <div class="contacts-container d-flex mb-5">
                {% for contact in friends_contacts %}
                    {% include 'partials/contact-info.html' %}
                {% endfor %}
            </div>
        {% endif %}

        {% if work_contacts %}
            <h2 class="mb-4">Work</h2>
            <div class="contacts-container d-flex mb-5">
                {% for contact in work_contacts %}
                    {% include 'partials/contact-info.html' %}
                {% endfor %}
            </div>
        {% endif %}

        {% if other_contacts %}
            <h2 class="mb-4">Other</h2>
            <div class="contacts-container d-flex mb-5">
                {% for contact in other_contacts %}
                    {% include 'partials/contact-info.html' %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}
